body {
}

#searchByDropDown
{
    border-style: solid;
    background-color: #FFE7D9;
    border-color: #004AAD;
    font-size: 16px;
    color: #004AAD;

    /* Koulen font and Times New Roman as a fallback */
    font-family: "Koulen", "Times New Roman";
}

#search
{
    border-style: solid;
    background-color: #FFE7D9;
    border-color: #004AAD;
    font-size: 16px;
    color: #004AAD;
    border-radius: 50px;
    height: 25px;

    /* Koulen font and Times New Roman as a fallback */
    font-family: "Koulen", "Times New Roman";
}
