/*body {
    position: relative;
    width: 1280px;
    height: 832px;
    background: #FFE7D9;
}*/

/* Container */
/*.content-container {
    position: absolute;
    width: 1048px;
    height: 700px;
    left: 116px;
    top: 66px;

    background: #FFFFFF;
    border: 10px solid #004AAD;
    border-radius: 50px;
}*/

/*FAQ Header*/
.faq {      
    position: absolute;
    text-align: center;
    left: 45%;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-decoration-line: underline;
    color: #004AAD;
}

.questions {
/* q: How do I add classes? */
    margin-top: 120px;
    padding-left: 20px;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    color: #004AAD;
}

.answers {
    font-family: 'Koulen';
    padding-left: 20PX;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5px;
    
    color: #FF914D;

}

#logInButton
{
  background-color: #FF914D;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  float: right;
  border: none;
  margin: 0;
}

/* navigation bar */
.link
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
 }

/* select */
.selectBox {
    border: 3px solid #004AAD;
    background-color: #FFE7D9;
    font-family: 'Koulen';
    color: #004AAD;
}

/* container */
.light-container-index {
    background-color: #DAEAFF;
    border-radius: 25px;
    border: 8px solid #C2DCFF;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 0.5;
}

.dark-container-index {
    background-color: #C2DCFF;
    border-radius: 25px;
    border: 10px solid #92C0FF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 0.5;
}
