/* fields */
label
{
    color: #004AAD;
    /* text thickness */
    font-weight: 700;
}

#usernameField
{
   border: none;
   background-color: #FFE7D9;
   font-size: 16px;
   color: #004AAD;
   border-radius: 50px;
   height: 25px;

    /* Koulen font and Times New Roman as a fallback */
    font-family: "Koulen", "Times New Roman";
}

#passwordField
{
    border: none;
    background-color: #FFE7D9;
    border-color: #FF914D;
    font-size: 16px;
    color: #004AAD;
    border-radius: 50px;
    height: 25px;

    /* Koulen font and Times New Roman as a fallback */
    font-family: "Koulen", "Times New Roman";
}

#forgetPassword
{
    font-size: small;
    text-decoration: underline;
}

#submitButton
{
    background-color: #FF914D;
    color: white;
    padding: 15px 32px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: max-content;

    /* Koulen font and Times New Roman as a fallback */
    font-family: "Koulen", "Times New Roman";
}

#form
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#dontHaveAccount {
    font-size: 20px;
    color: #004AAD;
    /* text thickness */
    font-weight: 700;
}

#signUpLink {
    color: #FF914D;
}

#belowForm
{
    margin: 0;

    /* Center the form vertically and horizontally*/
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
