body {
    background-color: #FFE7D9;
}

/*navigation*/
li {
    float: right;
}

ul {
    list-style-type: none;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #FF914D;
}

li a {
    height: 60px;
    display: block;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-family: 'Koulen';
    padding: 10px;
    text-decoration: none;
}

    li a:hover {
        color: #FFE7D9;
    }

/*image*/
img {
    padding-bottom: 10px;
    height: 60px;
    width: auto;
}

/* containers */
.content-container {
    background-color: white;
    border-radius: 25px;
    border: 10px solid #004AAD;
    padding: 10px;
    margin: 40px;
}

.light-container {
    background-color: #DAEAFF;
    border-radius: 25px;
    border: 8px solid #C2DCFF;
    padding: 10px;
    margin: 40px;
}

.dark-container {
    background-color: #92C0FF;
    border-radius: 25px;
    border: 10px solid #004AAD;
    padding: 10px;
    margin: 40px;
}

/* text */
#titleText {
    text-align: center;
    margin-top: 5%;
    color: #004AAD;
    /* text thickness */
    font-weight: 700;
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Koulen';
}