.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#forumLink {
    color: #004AAD;
}

#displayName {
    text-align: left;
    color: #FF914D;
    /* text thickness */
    font-size: 25px;
    text-decoration: none;
    font-family: 'Koulen';
    margin-left: 10px;
}

#displayEmail {
    text-align: left;
    color: #FF914D;
    /* text thickness */
    font-size: 25px;
    text-decoration: none;
    font-family: 'Koulen';
    margin-left: 10px;
}