.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#forumLink {
    color: #004AAD;
}

#displayName {
    text-align: left;
    color: #FF914D;
    /* text thickness */
    font-size: 25px;
    text-decoration: none;
    font-family: 'Koulen';
    margin-left: 10px;
}

#displayEmail {
    text-align: left;
    color: #FF914D;
    /* text thickness */
    font-size: 25px;
    text-decoration: none;
    font-family: 'Koulen';
    margin-left: 10px;
}

#logOutButton {
    margin: auto;
    background-color: #FF914D;
    color: white;
    padding: 5px 32px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 2px -2px #949494;
    /* Koulen font and Times New Roman as a fallback */
    font-family: "Koulen", "Times New Roman";
}