body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="retypepassword"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0070c9;
    color: #fff;
    border: none;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #0052a3;
    }
